@page
@model List<WeatherList>


<form asp-action="Main" asp-controller="Home" method="post">
    <h3>Выберите
        месяц 
        <input type="month" name="calendar" min="2010-01" max="2013-12"/> 
        <!--вывод-->
        <input type="submit" name="view" value="Показать"/>
    </h3> 
</form>
<table class="table">
    <thead>
        <tr><th>Дата</th><th>Время</th><th>Температура воздуха</th><th>Влажность, %</th><th>Точка росы</th><th>Давление</th><th>Направление ветра</th><th>Скорость ветра</th><th>Облачность</th><th>h</th><th>Видимость</th><th>Явление</th></tr>
    </thead>
    <tbody>
        @foreach (WeatherList weather in ViewBag.People)
        {
            <tr><th>@weather.date</th><th>@weather.time</th><th>@weather.T</th><th>@weather.humidity</th><th>@weather.Td</th><th>@weather.pressure</th><th>@weather.direction</th><th>@weather.speed</th><th>@weather.sky</th><th>@weather.h</th><th>@weather.VV</th><th>@weather.other</th></tr>
           /* <!-- <tr><th>@weather.date</th><th>@ViewData["time"]</th><th>@ViewData["temp"]</th><th>@ViewData["vlag"]</th><th>@ViewData["td"]</th><th>@ViewData["pressure"]</th><th>@ViewData["direction"]</th><th>@ViewData["speed"]</th><th>@ViewData["sky"]</th><th>@ViewData["h"]</th><th>@ViewData["VV"]</th><th>@ViewData["other"]</th></tr>-->*/
        }
    </tbody>
</table>